* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.head {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  padding: 0 300px 0 300px;
  height: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 100px 0;
}

.head-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.header-links ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* end of header tags */

.hero {
  display: flex;
  gap: 30px;
  height: 300px;
  justify-content: space-between;
}

.hero .left {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 300px;
  flex: auto;
}

.title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.title-subtext {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0 0 10px 0;
}

.hero-button {
  width: 120px;
  height: 32px;
  border-radius: 8px;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 900;
  border: none;
}

.hero-img {
  width: 600px;
  height: 240px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
